//a little bit of reset code just in case
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background: #74ebd5;
  background: linear-gradient(to bottom, #74ebd5, #acb6e5);
  font-size: 16px;
  line-height: 1.2;
  color: #888;
}

header {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  padding: 0 10px;
  .json-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    border: none;
    background: #c0bedc;
    .load-fields {
      border: none;
      display: flex;
      justify-content: space-around;
      height: 20%;
      div {
        width: 210px;
      }
    }
  }
  .rep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      display: flex;
      flex-direction: column;
      text-align: center;
      text-decoration: none;
    }
  }

  .dropbox {
    width: 500px;
    background: #dcd3d3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.gallery-tiles {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  .gallery-tiles__tile {
    position: relative;
    height: 20vh;
    flex-grow: 1;
    padding: 10px;
    img {
      max-height: 100%;
      min-width: 100%;
      object-fit: cover;
      vertical-align: bottom;
      transition: 0.5s;
    }
    span {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 30px;
      background: white;
      border-radius: 50%;
      width: 32px;
      height: 34px;
      text-align: center;
      opacity: 0;
      pointer-events: none;
      cursor: pointer;
      transform: translateY(-10px);
      transition: 0.3s;
    }
    &:hover {
      span {
        opacity: 0.8;
        pointer-events: auto;
        transform: translateY(0);
      }
      img {
        box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px,
          rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px;
      }
    }
  }
  &:after {
    content: "";
    display: block;
    flex-grow: 10;
  }
}

@media (max-width: 1100px) {
  div.rep {
    display: none;
  }
}
@media (max-width: 795px) {
  #dropbox {
    display: none;
  }
  #jsonFile {
    width: 100%;
  }
}

@media (max-width: 560px) {
  #jsonFile {
    fieldset {
      flex-direction: column;
      div + div {
        margin-top: 40px;
      }
    }
  }
}

@media (max-width: 480px) {
  .gallery-tiles__tile {
    height: auto !important;
    img {
      width: 100%;
    }
  }

}

@media (max-width: 310px) {
  header {
    display: none;
  }
}
